@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css");

/* We will use classes from bootstrap to start styling our app  */

.dark-theme {
  background: #333;
  color: #fff;
}
.dark-theme .jumbotron {
  background: #444;
}